<app-navbar></app-navbar>

<section class="container">
    <h4>Proposta</h4>
    <br>
    <p>Valor desejado para a realização do trabalho</p>
    <input class="valor" type="text" placeholder="R$">
    <br><br>
    <p>Descrição</p>
    <input class="descricao" type="text" placeholder="Descreva sua proposta">
    <br><br>
    <div class="botao">
        <p>Proposta enviada!</p>
    </div>
</section>

<section class="container">
    <h4>Proposta</h4>
    <br>
    <p>Valor desejado para a realização do trabalho</p>
    <input class="valor" type="text" placeholder="R$">
    <br><br>
    <p>Descrição</p>
    <input class="descricao" type="text" placeholder="Descreva sua proposta">
    <br><br>
    <div class="botao">
        <p>Proposta enviada!</p>
    </div>
</section>