.container{
    background-color: var(--color-purple-primary);
    border-radius: 10px;
    color: var(--color-white-secondary);
    margin-top: 70px;
    margin-bottom: 10px;
    width: 550px;
    padding: 20px;

    h4{
        text-align: center;
    }

    p{
        font-weight: bold;
    }

    .descricao{
        width: 500px;
        padding-bottom: 100px;
    }

    .valor{
        height: 40px;
    }

    input{
        border-radius: 10px;
        border-style: solid;
        background-color: var(--color-purple-primary);
        border-color: var(--color-white-secondary);
    }

    .botao{
        display: flex;
        align-items: center;
        justify-content: center;

       p{
        color: var(--color-purple-tertiary);
       }
    }
}