<app-navbar-cliente></app-navbar-cliente>

<section class="conteudo">
    <section class="separador">
        <section class="condimento">
            <section>
                <div class="color1">Usuário</div>
                <div class="color2">Cliente</div>
            </section>
            <div>
                <a href="#">Excluir</a>
                <a href="#">Editar</a>
            </div>
        </section>

        <section class="condimento">
            <section>
                <div class="color1">Usuário</div>
                <div class="color2">Profissional</div>
            </section>
            <div>
                <a href="#">Excluir</a>
                <a href="#">Editar</a>
            </div>
        </section>

        <section class="condimento">
            <section>
                <div class="color1">Usuário</div>
                <div class="color2">Cliente</div>
            </section>
            <div>
                <a href="#">Excluir</a>
                <a href="#">Editar</a>
            </div>
        </section>

        <section class="condimento">
            <section>
                <div class="color1">Usuário</div>
                <div class="color2">Profissional</div>
            </section>
            <div>
                <a href="#">Excluir</a>
                <a href="#">Editar</a>
            </div>
        </section>

        <section class="condimento">
            <section>
                <div class="color1">Usuário</div>
                <div class="color2">Cliente</div>
            </section>
            <div>
                <a href="#">Excluir</a>
                <a href="#">Editar</a>
            </div>
        </section>
    </section>



    <section class="pesquisa">

        <input type="text" placeholder="Pesquisar Usuários">
        <button><img src="icons/Lupa.png" alt=""></button>

    </section>
</section>