.conteudo{
    display: flex;
    justify-content: space-around;

}

.separador{
     margin-top: 100px;
}

.condimento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-purple-primary);
    width: 700px;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;

    div{
        display: flex;
        gap: 20px;
        font-weight: bold;
    }

    section{
       display: flex;
       align-items: center;
       gap: 250px;
    }

    .color1{
        color: var(--color-purple-tertiary)
    }

    .color2{
        color: var(--color-white-secondary)
    }

    a{
        background-color: var(--color-purple-tertiary);
        color: var(--color-white-secondary);
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
        width: 120px;
        text-align: center;

    }
}

.pesquisa{
    background-color: var(--color-gray-dark);
    border: none;
    height: 50px;
    width: 300px;
    border-radius: 12px;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;

    button{
       border: none;
       background-color: var(--color-gray-dark);

    }

    input{
        border: none;
        background-color: var(--color-gray-dark);      
        all: unset;
        color: var(--color-white-secondary);
    }
    
}