<nav class="navbar navbar-expand-sm bg-body-tertiary px-5">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Meu perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Minhas propostas</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item d-flex">
            <img src="icons/sair-roxo.svg" alt="icone sair">
            <a id="sair" class="nav-link" href="#">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>