

nav{
    background-color: var(--color-gray-light);
    height: 90px;
    
    a{
        color: var(--color-gray-dark);
        font-weight: bold;
        
    }

    [aria-current] {
        color: var(--color-purple-primary); /* Cor para todos os elementos com aria-current */
    }

    #sair{
        color: var(--color-purple-primary)
    }

    img{
        height: 16px;
    }
    
}

