nav{
    background-color: var(--color-gray-dark);
    height: 65px;

    .navbar-toggler{
        margin-top: 21px;
        margin-bottom: 21px;
    }
    
    a{
        color: var(--color-gray-dark);
        font-weight: bold;
        
    }

    [aria-current] {
        color: var(--color-purple-primary); /* Cor para todos os elementos com aria-current */
    }

    #sair{
        color: var(--color-purple-primary)
    }

    img{
        height: 16px;
    }
    
}

