<body>
    <app-navbar-cliente></app-navbar-cliente>
    <div class="container">
        <div class="usuario_container">
            <h4>Nome completo</h4>
            <div class="campo_descrição">
                <textarea id="descricao" readonly></textarea>
            </div>
            <div class="campo_sociais">
                <h6>Links sociais</h6>
                <div class="campo_link">
                    <ul>
                        <li>Link 1</li>
                        <li>Link 2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
