body{
    background-color: var(--color-white-secondary);
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    .container{
        display: flex;
        justify-content: center;
        .container_bloco{
            margin-top: 10dvh;
            .bloco{
                background-color: var(--color-purple-primary);
                margin-bottom: 39px;
                width: 720px;
                padding: 17px;
                border-radius: 10px;
                h5{
                    font-weight: bold;
                    font-size: 24px;
                    color: var(--color-white-secondary);
                    padding: 20px;
                    text-align: center;
                }
                .info{
                    p{
                        font-size: 20px;
                        font-style: italic;
                        color: var(--color-black-light);
                    }
                    .campo_valor{
                        p{
                            font-size: 20px;
                            font-weight: bold;
                            color: var(--color-white-secondary);
                        }
                        .valor{
                            display: flex;
                            align-items: baseline;
                            gap: 20px;
                            margin-bottom: 15px;
                            .reais{
                                color: var(--color-white-secondary);
                                font-weight: 600;
                            }
                            p{
                                font-size: 20px;
                                font-weight: normal;
                                color: var(--color-black-light);
                            }
                        }
                    }
                    .campo_descricao{
                        p{
                            font-size: 20px;
                            font-weight: bold;
                            color: var(--color-white-secondary);
                            margin-bottom: 8px;
                        }
                        textarea{
                            border: 2px solid var(--color-gray-light);
                            border-radius: 8px;
                            background-color: transparent;
                            height: 110px;
                            width: 100%;
                            resize: none;
                            color: var(--color-black-light);
                            margin-bottom: 32px;
                        }
                    }
                    .opcao_escolha{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 15px;
                        .botao_rejeitar button{
                            border: 2px solid var(--color-purple-tertiary);
                            border-radius: 10px;
                            background-color: var(--color-purple-primary);
                            color: var(--color-purple-tertiary);
                            font-size: 20px;
                            font-weight: 600;
                            padding: 7px 48px;
                        }
                        .botao_aceitar button{
                            border-radius: 10px;
                            background-color: var(--color-purple-tertiary);
                            border: 2px solid var(--color-purple-tertiary);
                            color: var(--color-white-secondary);
                            font-size: 20px;
                            font-weight: 600;
                            padding: 7px 48px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 768px) {
        .container{
            .container_bloco{
                margin-top: 8dvh;
                .bloco {
                    width: 290px;
                    h5 {
                        font-size: 22px;
                    }
                    .info{
                        p{
                            font-size: 14px;
                        }
                        .campo_valor {
                           p{
                            font-size: 16px;
                            }
                            .valor{
                                .reais{
                                    font-size: 16px;
                                }
                            }
                        }
                        .campo_descricao p{
                            font-size: 16px;
                        }
                        .opcao_escolha {
                            flex-direction: column;
                            gap: 20px;
                            align-items: center;
                            .botao_rejeitar button,
                            .botao_aceitar button {
                                padding: 8px 35px;
                            }
                        } 
                        
                    }
                }
            }
        }
        .opcao_escolha .botao_rejeitar button,
        .opcao_escolha .botao_aceitar button {
            font-size: 14px;
            padding: 8px 20px;
        }
    }
    
}