<body>
    <app-navbar-cliente></app-navbar-cliente>
    <div class="container">
        <div class="container_bloco">
            <!-- Card proposta -->
            <div class="bloco">
                <h5>Informações</h5>
                <div class="info">
                    <p>Título do cargo da vaga</p>
                    <div class="campo_valor">
                        <p>Valor desejado para a realização do trabalho</p>
                        <div class="valor">
                            <p class="reais">R$</p>
                            <p>00.00</p>
                        </div>
                    </div>
                    <div class="campo_descricao">
                        <p>Descrição</p>
                        <textarea id="descricao_proposta" readonly></textarea>
                    </div>
                    <div class="opcao_escolha">
                        <div class="botao_rejeitar">
                            <button>Rejeitar</button>
                        </div>
                        <div class="botao_aceitar">
                            <button>Aceitar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card proposta -->
            <div class="bloco">
                <h5>Informações</h5>
                <div class="info">
                    <p>Título do cargo da vaga</p>
                    <div class="campo_valor">
                        <p>Valor desejado para a realização do trabalho</p>
                        <div class="valor">
                            <img src="/icons/R$.png" alt="Reais">
                            <p>00.00</p>
                        </div>
                    </div>
                    <div class="campo_descricao">
                        <p>Descrição</p>
                        <textarea id="descricao_proposta" readonly></textarea>
                    </div>
                    <div class="opcao_escolha">
                        <div class="botao_rejeitar">
                            <button>Rejeitar</button>
                        </div>
                        <div class="botao_aceitar">
                            <button>Aceitar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
