<app-navbar></app-navbar>

<section class="container">
    <section class="principal">
        <div>
            <h2>Nome completo</h2>
            <br>
            <input class="caixa" type="text">
            <br><br>
            <p>Links Sociais</p>
            <li><a href="">Link 1</a></li>
            <li><a href="">Link 2</a></li>
        </div>
        <br>
        <div><button>Editar Perfil</button></div>

    </section>

    <section>
        <section class="areacards">
            <h2>Status de Proposta</h2>
            <br>
            <div class="cards">
                <br>
                <h5>Titulo do projeto</h5>
                <br>
                <p>Trabalho em andamento com:</p>
                <p>Telefone</p>
                <p>Whatsapp:</p>
                <p>Email:</p>

            </div>
        </section>

        <section class="areacards">
            <br>
            <div class="cards">
                <br>
                <h5>Titulo do projeto</h5>
                <br>
                <p class="status">Rejeitado</p>

            </div>
        </section>
    </section>


</section>