.container{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    color:var(--color-gray-dark);
}

.cards{
    background-color: var(--color-purple-primary);
    color: var(--color-white-secondary);
    border-radius: 5px;
    padding: 10px;
    height: auto;
    width: 400px;
}

.principal{
    margin-top: 70px;
    
    input{
        border-radius: 5px;
        border-style: solid;
        width: 500px;
        padding: 5px; 
        padding-bottom: 100px;
        
    }

    button{
        border: none;
        border-radius: 5px;
        color: var(--color-white-secondary);
        background-color: var(--color-purple-tertiary);
        width: 200px;
        height: 40px;
        margin-left: 300px;
    }

    p{
        
        font-weight: bold;
    }
}


.areacards{
    margin-bottom: 5px;
    padding: 5px;

    h2{
        text-align: center;
    }

    .status{
        color: var(--color-purple-tertiary);
        font-weight: bold;
        text-align: end;
    }
}