<div class="profile d-flex justify-content-center gap-3 px-4">
    <div class="data">
        <h4>Nome completo</h4>
        <div class="about-me">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, ad ullam? Totam neque veniam pariatur in explicabo id consequuntur, voluptatibus quod quam porro, molestias, nisi repellendus vitae architecto quae sunt!

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, labore beatae ipsam ad rerum harum rem et, est delectus fugit expedita asperiores esse nesciunt reiciendis. Nemo nostrum vel recusandae unde?

               
            </p>
        </div>

        <h6>Links sociais</h6>
        <ul>
            <li>contato 1</li>
            <li>contato 2</li>
        </ul>
     
        <button>EDITAR PERFIL</button>
    </div>
    
    <div class="proposals">
        <H5>Status das propostas</H5>

        <div class="cards">
            <div class="card">
                <h6>Título do projeto</h6>
                <p class="paragraph-06">Trabalho em andamento com: XXXXXXXXXXX</p>
                <p class="paragraph-06">Telefone: (XX) XXXXX-XXXX</p>
                <p class="paragraph-06">Whatsapp: (XX) YYYYY-YYYY</p>
                <p class="paragraph-06">Email: XXXXXXgmail.com</p>
            </div>

        </div>
    </div>
</div>
