<body>
    <!-- Navbar da LandingPage -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" (click)="toggleSidebar()" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="/icons/Menu_mobile.png" alt="Menu">
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre nós</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Dúvidas</a>
                        </li>
                    </ul>
                    <div class="navbar-end">
                        <a class="nav-link" href="#">Cadastre-se</a>
                        <div class="login">
                            <img src="/icons/entrar-roxo.png" alt="ícone sair">
                            <a class="nav-link" href="#">Entrar</a>
                        </div>
                    </div>
                </div>
            </div>
    </nav>
    <!-- Sidebar -->
    @if (isSidebarOpen) {
        <div class="sidebar bar-block animate-left">
          <button class="bar-item button large" (click)="toggleSidebar()">
            <img src="/icons/Sair_mobile.png" alt="Sair">
          </button>
          <div class="bar_style">
            <a href="#" class="bar-item button">Home</a>
            <a href="#" class="bar-item button">Sobre nós</a>
            <a href="#" class="bar-item button">Dúvidas</a>
            <a href="#" class="bar-item button">Cadastre-se</a>
            <a href="#" class="bar-item button">
                <img src="/icons/entrar-roxo.png" alt="Entrar">
                <p>Entrar</p>
            </a>
          </div>
        </div>
    }
    <!-- Primeira seção: apresentação -->
    <section class="first_section">
        <div class="container">
            <div class="text_container">
                <h5>FREELLA</h5>
                <div class="marketing_text">
                    <p>Transforme</p>
                    <p class="principal">Seu conhecimento</p>
                    <p class="ajuste_tamanho">em fonte de renda</p>
                </div>
                <div class="marketing_subtitle">
                    <p>Aqui você pode contratar um serviço universitário</p>
                </div>
            </div>
            <div class="container_bloco">
                <div class="row row-cols-2">
                    <!-- Bloco de tecnologia -->
                    <div class="example_services">
                        <div class="image_services">
                            <img src="/icons/computador.png" alt="Computer icon">
                        </div>
                        <p>Tecnologia</p>
                    </div>
                    <!-- Bloco de design -->
                    <div class="example_services">
                        <div class="image_services">
                            <img src="/icons/design.png" alt="Camera icon">
                        </div>
                        <p>Design</p>
                    </div>
                    <!-- Bloco de administração -->
                    <div class="example_services">
                        <div class="image_services">
                            <img src="/icons/pessoa.png" alt="Person icon">
                        </div>
                        <p>Administração</p>
                    </div>
                    <!--Bloco de edição de imagens e videos  -->
                    <div class="example_services">
                        <div class="image_services">
                            <img src="/icons/camera.png" alt="Computer icon">
                        </div>
                        <p>Edição de  <br> Imagens e vídeos</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Segunda seção: Freela para cliente -->
    <section class="second_section">
        <div class="container_geral_second">
            <div class="container_second">
                <div class="text_container_second">
                    <h3>Como é o FREELLA para o cliente?</h3>
                    <p>Facilitamos sua conexão com talentosos universitários prontos para oferecer serviços freelancer de qualidade. </p>
                </div>
                <div class="container_example_second">
                    <div class="row-2">
                        <div class="example-icons">
                            <div class="image_example_icon">
                                <img src="/icons/Pessoa2-vector.png" alt="Icon pessoa e computador">
                            </div>
                            <p class="text_example_second">Faça o pedido</p>
                        </div>
                        <div class="example-icons">
                            <div class="image_example_icon">
                                <img src="/icons/Envelope.png" alt="Icon envelope">
                            </div>
                            <p class="text_example_second">Pedido aceito!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Terceira seção: Frella para o profissional -->
    <section class="third_section">
        <div class="container_geral_third">
            <div class="container_third">
                <div class="text_container_third">
                    <h3>Como é o FREELLA para o profissional?</h3>
                    <p>Bem-vindo à nossa plataforma! Estamos animados para ajudar você, estudante universitário, a encontrar oportunidades de trabalho como freelancer.</p>
                </div>
                <div class="container_example_third">
                    <div class="row-3">
                        <div class="example-icons">
                            <div class="image_example_icon">
                                <img src="/icons/pessoa_checked.png" alt="Icon pessoa checked">
                            </div>
                            <p class="text_example_third">Pegue projetos</p>
                        </div>
                        <div class="example-icons">
                            <div class="image_example_icon">
                                <img src="/icons/prancheta.png" alt="Icon prancheta">
                            </div>
                            <p class="text_example_third">Execute o trabalho</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
         <!-- Quarta seção: Dúvidas -->
         <section class="fourth_section">
            <div class="center_container">
                <div class="container_fourth">
                <div class="text_container_fourth">
                    <h3>Dúvidas?</h3>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample" >
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            1.  Como me comunico com o prestador de serviço ou cliente?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Para se comunicar com o prestador de serviço ou cliente, você pode utilizar as informações de contato disponibilizadas na plataforma. A comunicação deve ser feita por meios externos, como e-mail, telefone, ou outras redes sociais.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                2.  A plataforma disponibiliza chat?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Não, a plataforma não oferece um chat integrado. Ela apenas conecta freelancers universitários com possíveis clientes, mas as conversas e negociações precisam ser feitas fora do site.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                3.  É possível pagar o serviço realizado dentro do site?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Não, a plataforma não possui sistema de pagamentos. Os pagamentos devem ser combinados diretamente entre o cliente e o freelancer, fora do ambiente do site.</div>
                        </div>
                    </div>
                </div>            
            </div>
            </div>
    </section>
</body>   
      
    