<body>
    <!-- Navbar da LandingPage -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" (click)="toggleSidebar()" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="/icons/Menu_mobile.png" alt="Menu">
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre nós</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Dúvidas</a>
                        </li>
                    </ul>
                    <div class="navbar-end">
                        <a class="nav-link" href="#">Cadastre-se</a>
                        <div class="login">
                            <img src="/icons/entrar-roxo.png" alt="ícone sair">
                            <a class="nav-link" href="#">Entrar</a>
                        </div>
                    </div>
                </div>
            </div>
    </nav>
    <!-- Sidebar -->
    @if (isSidebarOpen) {
        <div class="sidebar bar-block animate-left">
          <button class="bar-item button large" (click)="toggleSidebar()">
            <img src="/icons/Sair_mobile.png" alt="Sair">
          </button>
          <div class="bar_style">
            <a href="#" class="bar-item button">Home</a>
            <a href="#" class="bar-item button">Sobre nós</a>
            <a href="#" class="bar-item button">Dúvidas</a>
            <a href="#" class="bar-item button">Cadastre-se</a>
            <a href="#" class="bar-item button">
                <img src="/icons/entrar-roxo.png" alt="Entrar">
                <p>Entrar</p>
            </a>
          </div>
        </div>
    }
    <!-- Primeira seção: apresentação -->
    <section class="first_section">
        <div class="container">
            <div class="text_container">
                <h5>FREELLA</h5>
                <div class="marketing_text">
                    <p>Transforme</p>
                    <p class="principal">Seu conhecimento</p>
                    <p class="ajuste_tamanho">em fonte de renda</p>
                </div>
                <div class="marketing_subtitle">
                    <p>Aqui você pode contratar um serviço universitário</p>
                </div>
            </div>
            <div class="container_bloco">
                <div class="row row-cols-2">
                    <!-- Bloco de tecnologia -->
                    <div class="example_services">
                        <div class="image_services">
                            <img src="/icons/computador.png" alt="Computer icon">
                        </div>
                        <p>Tecnologia</p>
                    </div>
                    <!-- Bloco de design -->
                    <div class="example_services">
                        <div class="image_services">
                            <img src="/icons/design.png" alt="Camera icon">
                        </div>
                        <p>Design</p>
                    </div>
                    <!-- Bloco de administração -->
                    <div class="example_services">
                        <div class="image_services">
                            <img src="/icons/pessoa.png" alt="Person icon">
                        </div>
                        <p>Administração</p>
                    </div>
                    <!--Bloco de edição de imagens e videos  -->
                    <div class="example_services">
                        <div class="image_services">
                            <img src="/icons/camera.png" alt="Computer icon">
                        </div>
                        <p>Edição de  <br> Imagens e vídeos</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>   
      
    