.navbar .nav-link.active {
    color: var(--color-gray-dark);
}
.navbar-nav .nav-link{
    color: var(--color-gray-dark);
}

//Primeira seção
.first_section{
    background-color: var(--color-purple-primary);
    width: 100%;
    height: 100vh;
    margin-top: 0px;

    .container{
        display: flex;
        margin-right: 5vh;
        margin-left: 15vh;

        .text_container{
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        margin-top: 15vh;
        

        h1{
            color: var(--color-purple-tertiary);
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 6vh;
        }
        .marketing_text{
            color: var(--color-white-secondary);
            font-size: 64px;
            font-style: italic;
            line-height: 0.8;
            margin-right: 15px;
            width: 620px;
            p {
                margin-bottom: 0px;
            }
            .principal{
            font-weight: bold;
            color: var(--color-purple-tertiary);
            margin-bottom: 10px;
            }
        }
        
        .marketing_subtitle{
            font-size: 24px;
            color: var(--color-purple-tertiary);
            font-style: italic;
            margin-top: 7vh;
        }
    }
    .example_services{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 0px;
        margin-top: 15vh;

        
        p{
            display: flex;
            color: var(--color-white-secondary);
            font-size: 20px;
            font-weight: bold;
            margin-top: 5px;
        }
        .image_services{
            background-color: var(--color-purple-tertiary);
            padding: 30px;
            padding-top: 40px;
            padding-bottom: 40px;
            border-radius: 10px;
        }
    }
    .example_services.down{
        margin-top: 8vh;
    }
    } 
}

// Segunda seção
.second_section {
    background-color: var(--color-gray-light);
    width: 100%;
    height: 100vh;
    .container_geral_second {
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 100%; 
        .container_second {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--color-white-secondary);
            width: 100%;
            padding-top: 5vh;

            .text_container_second{
                display: flex;
                flex-direction: column;
                align-items: center;
                h2{
                    color: var(--color-black-light);
                    font-size: 36px;
                    margin-top: 5vh;
                    font-weight: bold;

                }
                p{
                    font-size: 20px;
                    font-style: italic;
                    margin-top: 1vh;
                }
                .text_alight{
                    margin-top: 0px;
                    line-height: 0.5;
                }
            }
            .example-icons{
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-top: 3vh;
                margin-left: 7vh;
                margin-right: 7vh;
                p{
                    color: var(--color-gray-dark);
                    font-size: 24px;
                    font-weight: bold;
                    margin-top: 1vh;
                }
                .image_example_icon{
                    background-color: var(--color-purple-primary);
                    padding: 13vh;
                    padding-top: 30px;
                    padding-bottom: 40px;
                    border-radius: 10px;
                }
            }
        }
    }
}
// Terceira seção
.third_section {
    background-color: var(--color-gray-light);
    width: 100%;
    height: 100vh;
    .container_geral_third {
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 100%; 
        .container_third {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--color-purple-primary);
            width: 100%;
            padding-top: 5vh;

            .text_container_third{
                display: flex;
                flex-direction: column;
                align-items: center;
                h2{
                    color: var(--color-black-light);
                    font-size: 36px;
                    margin-top: 5vh;
                    font-weight: bold;

                }
                p{
                    font-size: 20px;
                    font-style: italic;
                    color: var(--color-white-secondary);
                    margin-top: 1vh;
                }
                .text_alight{
                    margin-top: 0px;
                    line-height: 0.5;
                }
            }
            .example-icons{
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-top: 3vh;
                margin-left: 7vh;
                margin-right: 7vh;
                p{
                    color: var(--color-white-secondary);
                    font-size: 24px;
                    font-weight: bold;
                    margin-top: 1vh;
                }
                .image_example_icon{
                    background-color: var(--color-white-secondary);
                    padding: 13vh;
                    padding-top: 30px;
                    padding-bottom: 40px;
                    border-radius: 10px;
                }
            }
        }
    }
}

