<!-- Navbar da LandingPage -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: var(--color-gray-light) !important;">
    <div class="container-fluid" style="margin-left: 60px; margin-right: 20vh; padding: 3px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" style="font-weight: bold; font-size: 18px; ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="gap: 35px;" >
                <li class="nav-item" >
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre nós</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dúvidas</a>
                </li>
            </ul>
            <div class="navbar-end" style="display: flex; align-items: center; gap: 15vh; color: var(--color-purple-tertiary)">
                <a class="nav-link" href="#">Cadastre-se</a>
                <div class="login" style="display: flex; align-items: center; gap: 5px;">
                    <img src="/icons/entrar-roxo.png" alt="ícone sair" height=25vh>
                    <a class="nav-link" href="#">Entrar</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="principal_text">
    <div class="container">
        <div class="text_container">
            <h1>FREELLA</h1>
            <div class="marketing_text">
                <p>Transforme</p>
                <p class="principal">Seu conhecimento</p>
                <p class="ajuste_tamanho">Em fonte de renda</p>
            </div>
            <div class="marketing_subtitle">
                <p>Aqui você pode contratar um serviço universitário</p>
            </div>
        </div>
        <div class="container bloco">
            <div class="row row-cols-2">
                <!-- Bloco de tecnologia -->
                <div class="col">
                    <div class="example_services">
                        <div class="image_services">
                            <img src="https://i.imgur.com/iSmeQRC.png" alt="Computer icon">
                        </div>
                        <p>Tecnologia</p>
                    </div>
                </div>
                <!-- Bloco de design -->
                <div class="example_services">
                    <div class="image_services">
                        <img src="https://i.imgur.com/Nl1KsTr.png" alt="Photo icon">
                    </div>
                    <p>Design</p>
                </div>
                <!-- Bloco de administração -->
                
                <div class="col">
                    <div class="example_services">
                        <div class="image_services">
                            <img src="https://i.imgur.com/Km3rMVJ.png" alt="Person icon">
                        </div>
                        <p>Administração</p>
                    </div>
                </div>
                <!--Bloco de edição de imagens e videos  -->
                <div class="col">
                    <div class="example_services">
                        <div class="image_services">
                            <img src="https://i.imgur.com/alAvwNb.png" alt="Computer icon">
                        </div>
                        <p>Edição de Imagens e vídeos</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>