<body>
    <section>
        <div class="container">
            <div class="text_container">
                <h5>FREELLA</h5>
                <div class="marketing_text">
                    <p>Transforme</p>
                    <p class="principal">Seu conhecimento</p>
                    <p class="ajuste_tamanho">em fonte de renda</p>
                </div>
            </div>
            <form action="#">
                <h3>Login</h3>
                <div class="email_input">
                    <label for="email">Email</label>
                    <input type="email" id="email"/>
                </div>
                <div class="password_input">
                    <label for="password">Senha</label>
                    <div class="visibilidade_senha">
                        <input #passwordInput type="password" id="password" ngModel="senha"/>
                        <img src="/icons/cadeado-fechado.png" @if(mostrarTexto) alt="Ícone de visibilidade da senha" (click)="toggleSenha()" class="cadeado"/>
                    </div>
                </div>
                <div class="forgot_password">
                    <a href>Esqueceu a senha?</a>
                </div>
                <div class="sign_in button">
                    <button type="submit">Entrar</button>
                </div>
                <div class="new_account">
                    <a href="#">Não possui conta? Crie uma conta</a>
                </div>
            </form>
        </div>
    </section>
</body>