<app-navbar-cliente></app-navbar-cliente>


<section class="principal">

    <section class="conteudo">
        <section class="container">
            <br>
            <div class="names">
                <h4 class="color-names">Nome completo</h4>
                <h4 class="color-disponi">Disponível</h4></div>
                <br>
            <div class="contenidos">
                <p>Título do Projeto</p>
                <ul>Responsabilidades:</ul>
                <li>Desenvolver e manter aplicações web responsivas utilizando HTML, CSS e Javascript.</li>
                <li>Colaborar com ddesigners e outros desenvolvedores</li>
                <br>
            </div>
            <div class="botoes">
                <a class="button-1" href="#">Editar postagem</a>
                <a class="button-2" href="#">Excluir</a>
            </div>
            <br>
        </section>
        <section class="container">
            <br>
            <div class="names">
                <h4 class="color-names">Nome completo</h4>
                <h4 class="color-disponi">Disponível</h4></div>
                <br>
            <div class="contenidos">
                <p>Título do Projeto</p>
                <ul>Responsabilidades:</ul>
                <li>Desenvolver e manter aplicações web responsivas utilizando HTML, CSS e Javascript.</li>
                <li>Colaborar com ddesigners e outros desenvolvedores</li>
                <br>
            </div>
            <div class="botoes">
                <a class="button-1" href="#">Editar postagem</a>
                <a class="button-2" href="#">Excluir</a>
            </div>
            <br>
        </section>
    </section>



    <section class="container-1">
        <br>
        <p>Profissionais Registrados:</p>
        <p>Clientes Registrados:</p>
        <p>Serviços publicados:</p>
        <br>
        <br>
        <br>

        <a href="#">Nova postagem</a>
    </section>
</section>

