<body>
    <div class="container">
        <form action="#">
            <h2>Perfil</h2>
            <div class="descricao_input">
                <label for="descricao">Descrição</label>
                <textarea type="text" id="description" required ></textarea>
            </div>
            <div class="social_div">
                <div class="social_input">
                    <label for="link_social">Links sociais (Opcional)</label>
                    <input type="text" id="social_link" placeholder="Ex: Git ou Linkedin"/>
                </div>
                <div class="social_input">
                    <label for="link_social">Links sociais (Opcional)</label>
                    <input type="text" id="social_link" placeholder="Ex: Git ou Linkedin"/>
                </div>
            </div>
            <button>Criar perfil</button>
        </form>
    </div>
</body>