.cards{
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    max-width: 750px;
    box-sizing: border-box;

    .card{
        margin-bottom: 36px;
        padding: 24px 18px 24px 18px;
        background-color: var(--color-purple-secundary);
        border: none;
        
        .card-title{
            margin-bottom: 36px;

            h6{
                color:var(--color-purple-tertiary);
                font-size: 20px;
                font-weight: bold;
            }
    
            span{
                color: var(--color-purple-primary);
                font-size: 20px;
                font-weight: bold;
            }
        }
        h6{
            color:var(--color-black-light);
            font-size: 20px;
            font-weight: bold;
        }

        .paragraph-03{
            margin: 0;
            color:var(--color-black-light);
            font-size: 20px;
            font-weight: 300;
            font-style: italic;
        }

        ul{
            margin-bottom: 24px;
        }

        .btn-proposta{
            width: 264px;
            border: none;
            border-radius: 5px;
            background-color: var(--color-purple-primary);
            padding: 12px;
            margin-left: auto;
            margin-right: auto;

            color: var(--color-purple-tertiary);
            font-size: 16px;
            font-weight: bold;
        }
        
    }  
}


 