<div class="cards">
    @for(servico of servicos; track servicos) {
        <div class="card">
            <div class="card-title d-flex justify-content-between">
                <h6>{{servico.nome}}</h6>
                <span>{{servico.status}}</span>
            </div>
            <h6>{{servico.titulo}}</h6>
            <p class="paragraph-03">Responsabilidades:</p>
            <ul>
                <li class="paragraph-03">Desenvolver e manter aplicações web responsivas utilizando HTML, CSS e JavaScript.</li>
                <li class="paragraph-03">Colaborar com designers e outros desenvolved...</li>
            </ul>
            <button class="btn-proposta">Tenho interesse</button>
        </div>
    }
</div>


