
<div class="cards">

@for(item of nomes_teste, track nomes_teste){
    <p>{{item.nome}}</p>
}

    <div class="card">
        <div class="card-title d-flex justify-content-between">
            <h6>Nome completo</h6>
            <span>Disponível</span>
        </div>
        <h6>Título do projeto</h6>
        <p class="paragraph-03">Responsabilidades:</p>
        <ul>
            <li class="paragraph-03">Desenvolver e manter aplicações web responsivas utilizando HTML, CSS e JavaScript.</li>
            <li class="paragraph-03">Colaborar com designers e outros desenvolved...</li>
        </ul>
        <button class="btn-proposta">Tenho interesse</button>
    </div>
</div>


